.introSection{
    /* top: 4rem;
    position: absolute; */
    background-color: #708270;
    /* width: 100%; */
}

/* .aboutMe {
    position: absolute;
    width: 100%;
    margin-top: 87%;
}

.statistics {
    width: 100%;
    position: absolute;
    margin-top: 279%;
}

.experienceTimeline {
    position: absolute;
    width: 100%;
    margin-top: 476.5%;
    height: 100%;
}

@media only screen and (max-width: 360px){
    .statistics {
        margin-top: 316% !important;
    }
}

@media only screen and (max-width: 375px){
    .aboutMe {
        margin-top: 92%;
    }

    .statistics {
        margin-top: 305%;
    }

    .experienceTimeline {
        margin-top: 541.5%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1279px){
    .introSection {
        top: 36px;
    }
}

@media only screen and (min-width: 1000px){
    .aboutMe {
        margin-top: 30%;
    }

    .statistics {
        margin-top: 74%;
    }

    .experienceTimeline {
        margin-top: 103.5%;
    }
}

@media only screen and (min-width: 1280px){
    .introSection {
        top: 48px;
    }

    .statistics {
        margin-top: 53%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 999px){
    .aboutMe {
        margin-top: 31%;
    }

    .statistics {
        margin-top: 92%;
    }

    .experienceTimeline {
        margin-top: 128.5%;
    }
}

@media only screen and (max-width: 320px){
    .aboutMe {
        margin-top: 106%;
    }

    .statistics {
        margin-top: 363% !important;
    }

    .experienceTimeline {
        margin-top: 625.5%;
    }
}

@media only screen and (min-width: 1366px){
    .statistics {
        margin-top: 63%;
    }

    .aboutMe {
        margin-top: 28%;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .experienceTimeline {
        margin-top: 85%;
    }
}

@media only screen and (min-width: 411px) and (max-width: 767px){
    .experienceTimeline {
        margin-top: 489.5%;
    }
}

@media only screen and (min-width: 1367px){
    .statistics {
        margin-top: 58%;
    }

    .experienceTimeline {
        margin-top: 84%;
    }
} */ 

.homeGridContainer{
    position: relative;
    top: 2rem;
}

.gridItem{
    position: relative;
    margin-top: 3rem !important;
}