.equipmentExposure{
    position: absolute;
    top: 10%;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    height: -webkit-fill-available;
}

.equipmentExposureHeading {
    font-family: 'Cinzel', serif;
    color: rgba(250, 163, 0, 100%);
    font-size: 29px;
    font-weight: bold;
    padding: 3%;
    border: 2px solid rgba(250, 163, 0, 100%);
    margin-top: 5%;
    width: 88%;
    position: absolute;
}

.equipmentExposureDesc{
    position: absolute;
    margin-top: 21%;
    padding: 8% 11% 8% 11%;
    font-family: 'Mate', serif;
    font-size: 0.9rem;
}

.backgroundImageEquipment{
    filter: opacity(0.3);
    height: -webkit-fill-available;
    width: 100%;
}

/* .equipmentMainContainer {
    position: absolute;
    margin-top: 76%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
} */

.equipmentMainContainer {
    position: absolute;
    margin-top: 76%;
    width: 80%;
    overflow-y: scroll;
    height: 358px;
    overflow-x: hidden;
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
}

.equipmentMainContainer::-webkit-scrollbar {
    display: none;
}

@media only screen and (min-width: 411px) and (max-width: 414px){
    .equipmentMainContainer {
        margin-top: 68%;
    }
}

@media only screen and (max-width: 320px){
    .equipmentExposureDesc {
        margin-top: 37%;
    }

    .equipmentMainContainer {
        margin-top: 111%;
        height: 193px;
    }
}

@media only screen and (width: 768px){
    .equipmentMainContainer {
        height: 41rem;
    }
}

@media only screen and (min-width: 768px){
    .equipmentExposure {
        top: 3%;
    }

    .equipmentExposureHeading {
        width: 46%;
        padding: 1%;
    }

    .equipmentExposureDesc{
        margin-top: 13%;
        padding: 5% 8% 5% 8%;
        font-size: 1rem;
    }

    .equipmentMainContainer {
        margin-top: 34%;
    }
}

@media only screen and (min-width: 1024px){
    .equipmentExposureHeading {
        width: 39%;
    }

    .equipmentExposureDesc {
        margin-top: 11%;
        padding: 4% 8% 4% 8%;
    }

    .equipmentMainContainer {
        margin-top: 25%;
    }
}

@media only screen and (min-width: 1366px){
    .equipmentExposureDesc {
        margin-top: 10%;
    }

    .equipmentMainContainer {
        margin-top: 21%;
        height: 488px;
    }
}

@media only screen and (min-width: 375px) and (max-width: 767px){
    .equipmentExposure {
        top: 8%;
    }

    .equipmentExposureHeading {
        margin-top: 7%;
    }
}

@media only screen and (min-height: 1366px){
    .equipmentMainContainer {
        height: 64rem;
    }
}