.headerContainer{
    background-color: #708270;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.menuIcon{
    padding: 3%;
    font-size: 40px !important;
    color: rgba(250, 163, 0, 100%) !important;
    position: relative;
    right: 39%;
}

.drawerModal {
    width: 60% !important;
    height: 100% !important;
    background-color: ghostwhite !important;
    outline: none !important;
}

.menuLinkSelected{
    font-weight: bold;
    color: rgba(250, 163, 0, 100%) !important;
    font-family: 'Mate', serif;
}

.mobileMenuLink {
    text-decoration: none;
    color: black;
    font-size: 16px;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Mate', serif;
}

.menuLinkContainer{
    padding: 10%;
}

.divider{
    margin-top: 8% !important;
}

.menuContainer{
    padding: 2px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.menuLink {
    text-decoration: none;
    color: floralwhite;
    font-size: 16px;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Mate', serif;
}

.menuLink:hover {
    color: rgba(250, 163, 0, 100%);
}

@media only screen and (min-width: 768px) and (max-width: 1366px){
    .menuLink {
        font-size: 14px;
    }
}