.experienceBodyContainer{
    margin-top: 15%;
}

.experienceLeftContainer{
    float: left;
    background-color: #dae9e4;
    width: 30%;
    height: -webkit-fill-available;
}

.experienceRightContainer{
    float: right;
    height: -webkit-fill-available;
    width: 70%;
}

.experienceContainer{
    width: 100%;
    position: absolute;
    height: -webkit-fill-available;
    z-index: -1;
}

.experienceHeadingText {
    display: flex;
    margin-top: 26%;
    font-weight: bold;
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px darkgrey;
    position: fixed;
    width: 30%;
}